@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4ce085;
    padding: 0.2rem 10rem;
    flex-wrap: wrap;
}

.navbar .logo {
    width: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navbar .select>select {
    display: inline-block;
    padding: 0.4rem 0.9rem;
    border-radius: 7px;
    border: 0;
    outline: 0;
    box-shadow: 0px 2px 10px #10203081;
    cursor: pointer;
}

.navbar .select>label {
    display: inline-block;
    font-weight: bold;
    font-size: 1.3vw;
    margin-right: 5px;
}

.music-card {
    width: 800px;
    max-width: 85%;
    text-align: center;
    margin-top: 50px;
}

.music-details {
    margin: 30px auto;
    display: block;
}

.music-details .header {
    line-height: 1.4rem;
    color: #BAD7E9;
}

.music-details .music-image {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 20px auto;
}

.music-details .music-name {
    font-size: 2.8vw;
    margin: 22px auto;
    background: linear-gradient(45deg, #d8d807, #07c5da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 30px;
    animation: move 6s linear infinite alternate;
}

.music-details .music-artist {
    font-size: 1.3vw;
    color: #07c8ae;
}

@keyframes move {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.controls,
.timing-details,
.volume-controls {
    width: 200px;
    max-width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls .fa-backward-step,
.controls .fa-forward-step {
    color: #E3F6FF;
    font-size: 1.6vw;
}

.controls .fa-play,
.controls .fa-pause {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0.9px solid #E3F6FF;
    color: #BAD7E9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    padding-left: 2px;
    cursor: pointer;
}

.timing-details {
    width: 400px;
}

.timing-details>div {
    color: aliceblue;
    margin: 0 6px;
    flex-basis: 20%;
}

.timing-details input {
    flex-basis: 60%;
    /* appearance: 0; */
    /* -webkit-appearance: none; */
    accent-color: #BFEAF5;
    background: transparent;
}

/* .timing-details input::-webkit-slider-runnable-track {
    background: #efefef;
    border-radius: 300px;
    height: 10px;
    cursor: pointer;
}

.timing-details input::-webkit-slider-thumb {
    width: 14px;
    height: 30px;
    background: #77a7b3;
    -webkit-appearance: none;
    margin-top: -10px;
    border-radius: 30px;
} */

.volume-controls i {
    color: #12bcd3c1;
    flex-basis: 10%;
    margin: 0 10px;
}

.volume-controls {
    width: 302px;
    margin-top: 40px;
}

.volume-controls input {
    flex-basis: 80%;
    appearance: 0;
    -webkit-appearance: none;
    background: transparent;
}

.volume-controls input::-webkit-slider-runnable-track {
    background: #BAD7E9;
    height: 7px;
    border-radius: 30px;
}

.volume-controls input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #08d735;
    -webkit-appearance: none;
    margin-top: -4px;
}

@media (max-width: 880px) {
    .navbar {
        padding: 0.8rem 0.6rem;
    }

    .navbar .logo {
        width: 100px;
    }

    .navbar .select>label {
        font-size: 3.2vw;
    }

    .wrapper {
        height: 110vh;
        margin-right: 0;
    }

    .music-card {
        margin: 70px auto;
    }

    .music-details .music-name {
        font-size: 7vw;
    }

    .music-details .music-artist,
    .controls .fa-backward-step,
    .controls .fa-forward-step {
        font-size: 5vw;
    }

    .controls .fa-play,
    .controls .fa-pause {
        font-size: 7.5vw;
    }
}